.row{
    padding: 20px;
    background-color: #9dcbff ;
}
h2{
    padding-left: 40px;
    padding-bottom: 20px;
}
h3, h5{
    display: inline;
}
ul{
    padding: 10px;
}
#logoEscuela{
 
    height: 70px;
    width: auto;
}
#logoUNLP{
 
    height: 70px;
    width: auto;
}

#logoAP{
    height: 100px;
    width: auto;
}
@media (max-width: 916px) {
   .row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
}