
    <div class="row">
        <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
            <img src="../../../assets/foto.jpeg"
            class="img-fluid"
            id="mifoto">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Leandro Castañeira</p>
            <p>Programador web full-stack junior</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Proactivo e inquietamente curioso, fue el motor que me impulsó a sumergirme en este maravilloso mundo virtual. Habiendo descubierto que del amplio abanico digital, lo que más captó mi atención fue el back-end, abriendome nuevas metas y espectativas en esta rama. Me gusta trabajar en equipo, y aprovechar en su máxima efectividad el tiempo. Destacandome en un alto nivel de responsabilidad y compromiso con los proyectos emprendidos.</p>
        </span>
        </div>
    </div>    

