
    <div class="row">
        <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
            <img src="../../../assets/foto.jpeg"
            class="img-fluid"
            id="mifoto">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Leandro Castañeira</p>
            <p>Programador web full-stack junior</p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempore ab voluptate quam corporis qui similique suscipit, quidem eum perspiciatis ipsum doloremque rem vel illo facilis deleniti voluptatibus sint sed?</p>
        </span>
        </div>
    </div>    

