.row{
    padding: 10px;
}

/*estilo mifoto de perfil*/

@media (min-width: 576px){ 
#mifoto{
    border-radius: 20%;
    box-shadow: 5px 5px 10px black;
}
}

/*estilo acerca de mi*/
div{
    background-color: #8dc2ff;
    text-align: center;
    align-items: center;
}

#nombre{
    font-weight: bold;
}
