<div class="row">
        <h2>Hard & Soft Skills</h2>
        <div class="text-center col-lg-4 col-sm-6 col-xs-6">   
                <circle-progress
                [percent]="85"
                [radius]="100"        
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1500"                
                [imageSrc]="'../../../assets/html.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
        ></circle-progress>
        </div>
        <div class="text-center col-lg-4 col-sm-6 col-xs-6">   
                <circle-progress
                [percent]="95"
                [radius]="100"        
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1500"                
                [imageSrc]="'../../../assets/css.png'"
                [showImage]="true"
                [imageHeight]="115"
                [imageWidth]="115"
        ></circle-progress>
        </div>
        <div class="text-center col-lg-4 col-sm-6 col-xs-6">   
                <circle-progress
                [percent]="85"
                [radius]="100"        
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1500"                
                [imageSrc]="'../../../assets/JS.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
        ></circle-progress>
        </div>
        <div class="text-center col-lg-4 col-sm-6 col-xs-6">   
                <circle-progress
                [percent]="90"
                [radius]="100"        
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1500"                
                [imageSrc]="'../../../assets/angular logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
        ></circle-progress>
        </div>
        <div class="text-center col-lg-4 col-sm-6 col-xs-6">   
                <circle-progress
                [percent]="65"
                [radius]="100"        
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1500"                
                [imageSrc]="'../../../assets/GitHub-.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
        ></circle-progress>
        </div>
        <div class="text-center col-lg-4 col-sm-6 col-xs-6">   
                <circle-progress
                [percent]="60"
                [radius]="100"        
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1500"                
                [imageSrc]="'../../../assets/mysql-logo.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
        ></circle-progress>
        </div>
</div>

