<div class="row">
    <h2>Educación</h2>
    <div class="row">
    <div class="col-2">
    <img src="../../../assets/escuela.png"  id="logoescuela">
    </div>
    <div class="col-8">
        <ul>
            <li>
                <h3>Secundario</h3>
                <h5> 3 años</h5>
            </li>
            <p>Estudios Secundarios completos realizados en la Escuela de Educación Tecnica Nro 8 ‘Juan Bautista Alberdi’ dependiente de la Universidad Tecnologica Nacional, de La Plata.

                Titulo de Tecnico Electromecanico.
            </p>
        </ul>
    </div>    
    </div>
    <div class="row">
        <div class="col-2">
        <img src="../../../assets/unlp.png" id="logoUNLP">
        </div>    
         <div class="col-8">
        <ul>
            <li>
                <h3>Universitario</h3>
                <h5> 3 años (inconcluso)</h5>
            </li>
            <p>Estudios Universitarios en la Universidad Nacional de La Plata, Facultad de Ingeniería, Departamento de Mecánica.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Curso</h3>
                <h5> 9 meses (en proceso)</h5>
            </li>
            <p>Programa impulsado por el Ministerio de Economía de la Nación, que tiene como objetivo capacitar a personas en lenguajes y conocimientos sobre programación, testing y habilidades digitales para potenciar la empleabilidad en el sector del software y la tecnología. Certificado: Programador web full-stack junior.
            </p>
        </ul>
        </div>
    </div>
</div>