<div class="row">
    <h2>Proyectos</h2>
    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-7 texto">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet numquam tenetur aut harum minus voluptas. Modi nostrum aut in quo distinctio amet delectus veniam quia suscipit perspiciatis, atque provident aspernatur?</p>
        </div>
        <div class="col-sm-12 col-lg-3 offset-md-2 offset-lg-2 foto">
        <img src="../../../assets/pag web.png" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-7 texto">
        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet numquam tenetur aut harum minus voluptas. Modi nostrum aut in quo distinctio amet delectus veniam quia suscipit perspiciatis, atque provident aspernatur?</p>
        </div>
        <div class="col-sm-12 col-lg-3 offset-md-2 offset-lg-2 foto">
        <img src="../../../assets/Portfolio.png" class="img-fluid">
        </div>
    </div>
</div>
