<div class="row">
    <h2>Proyectos</h2>
    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-7 texto">
        <h3>Página Web</h3>
        <p>Desafío del módulo 3 de la segunda etapa (Yo Programo) del curso "Argentina Programa"</p>
        </div>
        <div class="col-sm-12 col-lg-3 offset-md-2 offset-lg-2 foto">
        <img src="../../../assets/pag web.png" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-7 texto">
        <h3>Portfolio</h3>
        <p>Trabajo práctico integrador para la aprobación y finalización del curso "Argentina Programa", consistente en una aplicación web full stack </p>
        </div>
        <div class="col-sm-12 col-lg-3 offset-md-2 offset-lg-2 foto">
        <img src="../../../assets/Portfolio.png" class="img-fluid">
        </div>
    </div>
</div>
