.row{
    background-color: #b3d6ff;
    padding: 20px;
}
h2{
    padding-left: 40px;
    margin-bottom: 20px;
}
.container{
    width: auto;
    padding-left: 50px;
    padding-top: 10px;
}
p{ 
    padding-left: 20px;
}
.texto, .foto{
    display: inline-block;
}
.foto{
    box-shadow: 5px 5px 5px #676767;
}

@media (max-width: 916px) {
    .div{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     text-align: center;
    }
 }