<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
           Agregar Educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h4>{{Educacion.nombreE}}</h4>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn" routerLink="/editedu/{{Educacion.id}}">
                            Editar <i class="bi bi-pencil-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn" (click)="delete(Educacion.id)">
                            Borrar <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>