<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="container">
    <div class="col-8">
        <ul>
            <li>
                <h3>Trabajo</h3>
                <h5> - Años</h5>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi perspiciatis facere alias tempore! Eos vero aut reprehenderit provident? Maxime itaque quis corporis molestiae ex labore ut esse tempore alias nemo!
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo</h3>
                <h5> - Años</h5>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi perspiciatis facere alias tempore! Eos vero aut reprehenderit provident? Maxime itaque quis corporis molestiae ex labore ut esse tempore alias nemo!
            </p>
        </ul>
    </div>
    </div>
</div>